/* Paleta de cores escolhida: #209BC0 / #327E96 / #00B3EB / #365F6B / #2B3C41 / #2B3133 / #FFFFFF
A harmonia das cores que escolhi foi a monocromática.
Escolhi estas cores pois o artigo em tela conta um resumo da vida de Alan Turing, e uma paleta de cores com
muito contraste, ou com cores com muita energia, podem atrapalhar o usuário em sua leitura, por isso, optei por utilizar a cor azul para
passar uma sensação de confiança para o leitor, além de, transmitir uma sensação de concentração e calma.*/
.paragraph{
    color:#FFFFFF;
    text-align: justify;
    background-color: #00B3EB;
}

#rodape{
    color:#2B3C41;
    font-size:medium;
}

div h2{
    color:#327E96;
    background-color: #FFFFFF;
    text-align:left;
    font-size: 3rem;
}

body > header{
    color: #327E96;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size:4rem;
    grid-area: cabecalho;
    text-align: center;
}

a:link{
    color:#2B3C41;
}
a:visited{
    color:#365F6B;
}
a:hover{
    color:#209BC0;
}
a:focus{
    color:#327E96;
}

.imagemAlan{ 
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: sans-serif;
    font-size: large;
    background-color:#00B3EB;
    display:grid;
    grid-template-rows: 100px auto auto auto auto 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "cabecalho cabecalho"
    "pessoal imagemAlan"
    "profissional importancia"
    "bombe enigma"
    "legado ."
    "rodape rodape";
    gap: 10px;
    row-gap: 5px;
}

div .separador{
    max-width: 70%;
    color:#327E96;
}
#pessoal{
    grid-area:pessoal;
}
#profissional{
    grid-area:profissional;
}
#importancia{
    grid-area:importancia;
}
#bombe{
    grid-area:bombe;
}
#enigma{
    grid-area:enigma;
}
#legado{
    grid-area:legado;
}
.rodape{
    grid-area:rodape;
}
#imagemAlan{
    grid-area:imagemAlan;
    text-align: center;
}
